/*menu*/

.logo {
  position: absolute;
  height:83px;
  width: 95px;
}

.topnav a:hover{
  color: #DB9034;
}

.topnav {
  float: right;
  padding-top:20px;
  padding-bottom:20px;
  padding-left: 80px;
  padding-right: 160px;
}

.topnav a{
  font-family: Public Sans;
  font-size: 16px;
  padding: 60px;
  width: 33.33%;
  text-transform: uppercase;
  text-align: center;
  color: black;
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

h1 {
font-family: Muli;
/*padding: 24px;*/
font-size: 52px;
font-weight: 700;
letter-spacing: 0.05em;
text-transform: uppercase;
line-height: 150%;
color: #000000;
}

body {
  background-color: #F3F5EF
}

p{
font-family: Public Sans;
  font-size: 1rem;
  line-height: 150%;
  margin-top: .5rem;
}

h2 {
  font-family: Muli;
  font-weight: 600;
  font-size: 42px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 150%;
}

h3 {
  font-family: Muli;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 125%;
}

html {
  background-color: #F3F5EF;
  font-size: 20px;
}

.b1-container a:hover {
  color: #DB9034;
}
.container {
  background-color:#F3F5EF;
  /*display: grid;*/
  /*grid-gap: 1rem 2rem;*/
  /*grid-template-columns: 1fr;*/
  /*height:100vh;*/
  /*margin: 0 auto;*/
  width: 100%;
    margin: 0px;
    padding: 0px;
}

section {
/*float: left;*/
margin: 1%;
  width: 100%;
}

/*Homepage*/
.icon {
position: absolute;
right: 0px;
}

section.projects{
  background-color: #F3F5EF;
  height: 5rem;
  padding: 1rem 1rem;
}

.main-banner h2 {
  text-align: left;
  width: 976px;
  height: 234px;
  left: 154px;
  top: 251px;
}

.main-banner{
  padding-top:200px;
  padding-left: 160px;
  padding-bottom: 248px;
}

.billow-project p {
  width: 237px;
}

.b1-container{
  display: flex;
flex-direction: column;
align-content: start;
}

.b1-container a{
  font-family: Public Sans;
  line-height: 150%;
  text-decoration: underline;
  color: black;

}

.billow-project {
  background-color: #F3F5EF;
  padding-left: 80px;
  display: flex;
  flex-direction; row;
  align-items: center;
  justify-content: space-around;
}

.busybus-project {
  padding-left: 80px;
  display: flex;
  flex-direction; row;
  align-items: center;
  justify-content: space-around;
}

.busybus-project p {
width: 237px;
line-height:150%;
}

.left-square {
  position: absolute;
  left: 0px;
}

.b2-container img{
  display: flex;
flex-direction: row;
}

.billow-project a:hover {
  color: #DB9034;
}

.right-square {
  position: absolute;
  right: 0px;
}

.b3-container {
display: flex;
flex-direction: column;
align-content: start;
}

.b4-container img {
display: flex;
flex-direction: row;
}

.section-divider2 {
color:black;
}

hr.ca-divider {
  width: 95%;
padding-top: 0px;
margin-top: 0px;
}

/*billow case study*/

.billow-banner{
  background-color: #F3F5EF;
  padding-left: 80px;
  display: flex;
  flex-direction; row;
  align-items: center;
  justify-content: center;
}

.billow-banner img {
  width: 580px;
  display: flex;
  flex-direction: row;
}

.b-container{
display: flex;
flex-direction: column;
align-content: start;
padding: 60px;
margin-left:80px;
width: 528px;
}

.b-container p {
width: 486px;
}

.b-container a {
  font-family: Public Sans;
  text-decoration: underline;
  color: black;
}

section.billow-banner {
  padding-top:80px;
}

.problem-banner {
  height: 295px;
  padding-left: 80px;
  display: flex;
  flex-direction; row;
  align-items: center;
  justify-content: space-around;
}

.p1-container {
    width: 580px;
    display: flex;
    flex-direction: row;
}

.p2-container p {
  width: 600px;
}

section.solution {
  text-align: center;
}
.solution-p {
  font-family: Public Sans;
  line-height: 150%;
  text-align: center;
  padding-left: 350px;
  padding-right:350px;
}

.billow-intro p {
  width: 608px;
}

.ur1 {
  width: 580px;
  display: flex;
  flex-direction: column;
}

.user-research img {
  display: flex;
  flex-direction: column;
}

.up-container {
width: 630px;
}

.mariap-container {
width: 379px;
}

.luisr-container {
  width: 379px;
}

section.result {
  width: 813px;
}

section.ia {
  padding-left: 350px;
}

section.ia p {
width: 530px;
}

table {
  font-family: Public Sans;
  line-height: 150%;
  margin: 40px;
  border-color: black;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
}

table th {
  background-color: white;
}

th.high {
  background-color: blue;
}

section.ca-section {
  background-color: #CED0CA;
  width: 100%;
  margin: 0px;
  padding: 60px;
}

.ca-section p {
  width: 95%;
}

.ut-section {
  background-color: #CED0CA;
}


/*busybus case study*/


.busybus-project {
  background-color: #F3F5EF;
  padding-left: 80px;
}
.busybus-project a {
  font-family: Public Sans;
  text-decoration: underline;
  color: black;
}

.busybus-project a:hover {
  color: #DB9034;
}



/*About Page */
section.about-main{
  padding-top:200px;
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: 100px;
}

hr.main-divider {
  border: 1px solid #DB9034;
  width: 1224px;
  align-self: baseline;
}

.bio h2 {
  margin: 0 auto;
  width: 327px;
  display: flex;
  align-items: center;
}


.bio p {
  margin: 0 auto;
  width: 591px;
  display: flex;
  align-items: center;
}

bio-photo {
padding-left: 574px;
padding-right: 550px;
}

.bio h3 {
  margin: 0 auto;
  width: 166px;
  display: flex;
  text-align: center;
}

.bio blockquote {
  margin: 0 auto;
  font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
width: 507px;
padding: 20px;
}

/*Contact*/

/*.contact-container {
width: 1440px;
height: 716px;
top: 240px;
}*/

section.contact-cta {
  padding-top: 136px;
  width:1318px;
  display: flex;
  flex-direction: column;
  float: left;
}

.c2-container{
display: flex;
flex-direction: column;
float: right;
}

.contact-cta form {
  font-family: Public Sans;
  padding-left:60px;
  display: flex;
  flex-direction: column;
  float: right;
}

input {
  display: block;
  font-family: Public Sans;
  color: #C4C4C4;
  background-color: #F3F5EF;
  border: 1px solid #000000;
  padding-left: 10px;
  margin: 24px;
  width: 600px;
  height: 60px;
  font-size: 20px;
}

textarea {
  width: 602px;
  height: 303px;
  margin: 24px;
  padding-left: 10px;
  font-family: Public Sans;
  color: #C4C4C4;
  font-size: 20px;
  box-sizing: border-box;
  border: 1px solid #000000;
  background-color: #F3F5EF;
  resize: none;
}

button[type="submit"] {
background-color: black;
color: #F3F5EF;
font-family: Public Sans;
font-size: 20px;
width: 343px;
height: 63px;
}



/*footer*/

footer {
  background-color: #F3F5EF;
  width:100%;
}

footer a {
  font-family: Public Sans;
  font-size: 16px;
  text-decoration: none;
  padding-left: 80px;
}
footer a:hover{
  color: #DB9034;
}

hr.f-divider {
  border: 1px solid #000000;

}

hr.orange-divider {
  border: 1px solid #DB9034;
  width: 90%;
}

@media screen and (min-width: 1025px) {
  .container {
    background-color: pink;
    /*height:100vh;*/
    margin: 0 auto;
    width: 98rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    background-color: #F3F5EF;
    /*grid-template-columns: 6fr 6fr;*/
    /*height:100vh;*/
    margin: 0 auto;*/
    width: 95%;
  }
}
