/*menu*/

.logo {
  position: absolute;
  height:83px;
  width: 95px;

}

.main-menu a:hover{
  color: #DB9034;
}

.topnav {
  float: right;
  padding-top:20px;
  padding-bottom:20px;
  padding-left: 80px;
  padding-right: 60px;
}

.topnav a{
  font-family: Public Sans;
  padding: 20px;
  font-size: 16px;
  width: 33.33%;
  text-transform: uppercase;
  text-align: center;
  color: black;
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

h1 {
font-family: Muli;
padding: 24px;
font-size: 52px;
font-weight: 700;
letter-spacing: 0.05em;
text-transform: uppercase;
line-height: 150%;
color: #000000;
}

body {
  background-color: #F3F5EF
}

p{
font-family: Public Sans;
  font-size: 1rem;
  line-height: 150%;
  margin-top: .5rem;
}

h2 {
  font-family: Muli;
  font-weight: 600;
  font-size: 42px;
  padding-left: 80px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 150%;
}

h3 {
  font-family: Muli;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 125%;
}

html {
  background-color: #F3F5EF;
  font-size: 20px;
}

.b1-container a:hover {
  color: #DB9034;
}
.container {
  background-color: white;
  /*display: grid;*/
  /*grid-gap: 1rem 2rem;*/
  /*grid-template-columns: 1fr;*/
  /*height:100vh;*/
  /*margin: 0 auto;*/
  width: 90%;
  overflow: hidden;
}

section {
/*float: left;*/
margin: 1%;
  width: 100%;
}

/*Homepage*/
.icon {
fposition: absolute;
right: 0px;
}

section.projects{
  background-color: #F3F5EF;
  height: 5rem;
  padding: 1rem 1rem;
}

.billow-project p {
  width: 237px;
}

.b1-container{
  display: flex;
flex-direction: column;
align-content: start;
}

.b1-container a{
  font-family: Public Sans;
  line-height: 150%;
  text-decoration: underline;
  color: black;

}

.billow-project {
  background-color: #F3F5EF;
  padding-left: 80px;
  display: flex;
  flex-direction; row;
  align-items: center;
  justify-content: space-around;
}

.busybus-project {
  background-color: orange;
  padding-left: 80px;
  display: flex;
  flex-direction; row;
  align-items: center;
  justify-content: space-around;
}

.busybus-project p {
width: 237px;
line-height:150%;
}

.left-square {
  position: absolute;
  left: 0px;
}

.b2-container img{
  display: flex;
flex-direction: row;
}

.right-square {
  position: absolute;
  right: 0px;
}

.b3-container {
display: flex;
flex-direction: column;
align-content: start;
}

.b4-container img {
display: flex;
flex-direction: row;
}



/*billow case study*/

.billow-intro {
  width: 1435px;
}

section.billow-banner {
  padding-top:200px;

}

.billow-intro p {
  width: 608px;
}



/*.billow-image {
width: 500px;
height:300px;
/*left: 558px;*/
/*top: 104px;*/
}

.billow-project a:hover {
  color: #DB9034;
}


.busybus-project {
  background-color: #F3F5EF;
  padding-left: 80px;
}
.busybus-project a {
  font-family: Public Sans;
  text-decoration: underline;
  color: black;
}

.busybus-project a:hover {
  color: #DB9034;
}

/*About Page */
section.main-banner{
  padding: 200px;
}

.main-banner section-divider {
  width: 1224px;
  color:black;
}

.main-banner h2 {
  width: 976px;
  height: 234px;
  left: 154px;
  top: 251px;
}

.main-banner{
  background-color: #F3F5EF;
}

.bio p {
  width: 591px;
  display: flex;
  align-items: center;
  text-align: center;
}
.bio blockquote {
  font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
width: 507px;
}

/*Contact*/

.contact-container {
width: 1440px;
height: 716px;
top: 240px;

}

.contact-cta {
  padding-top: 136px;
  width:1318px;
  display: flex;
  flex-direction: row;
}

.c2-container{
  display: flex;
flex-direction: column;
}

.form-container {
display: flex;
flex-direction: row;
align-content: flex-end;
}

form {
  font-family: Public Sans;
  padding-left:60px;
}

button[type="submit"] {
background-color: white;
border-color: black;
font-family: Public Sans;
font-size: 20px;
width: 343px;
height: 63px;
}

.form button {
  padding-left: 60px;
}

footer{
  background-color: #F3F5EF;

}

footer a {
  font-family: Public Sans;
  font-size: 16px;
  text-decoration: none;
  padding-left: 80px;
}
footer a:hover{
  color: #DB9034;
}

hr {
  display: block;
  color: #ffffff;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: inset;
  border-width: 1px;
}



@media screen and (min-width: 1025px) {
  .container {
    background-color: pink;
    /*height:100vh;*/
    margin: 0 auto;
    width: 98rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    background-color: yellow;
    /*grid-template-columns: 6fr 6fr;*/
    /*height:100vh;*/
    /*margin: 0 auto;*/
    width: 95%;
  }
}
